/*顶层类*/
.screening{

}

/*一项筛选项*/
.level_item{
    display: flex;
    margin-bottom: var(--margin);
    /*标头-title*/
    & > span{
        width: fit-content;
        max-width:60px;
        color: #999999;
        margin-right: var(--margin);
    }
    .active{
        color: var(--theme-color);
    }
}

/*筛选项的内容*/
.level_item_value{
    user-select: none;
    flex: 1;

    @media (width < 500px){
        overflow-x: auto;
        text-wrap: nowrap;
    }
    &>span{
        cursor:pointer;
        white-space: nowrap;
        margin-right: var(--margin);
        transition: all .2s;
        &:hover{
            color: var(--theme-color);
        }
    }
}