@font-face {
  font-family: "iconfont"; /* Project id 4612358 */
  src: url('iconfont.woff2?t=1720279364531') format('woff2'),
       url('iconfont.woff?t=1720279364531') format('woff'),
       url('iconfont.ttf?t=1720279364531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-youketidaodequedianicon:before {
  content: "\e6e4";
}

.icon-youdian:before {
  content: "\e703";
}

.icon-tools:before {
  content: "\e762";
}

.icon-sousuo:before {
  content: "\e6a7";
}

