@font-face {
    font-family: "iconfont"; /* Project id 4612358 */
    src: url('//at.alicdn.com/t/c/font_4612358_52b21vwvjbk.woff2?t=1721487252133') format('woff2'),
    url('//at.alicdn.com/t/c/font_4612358_52b21vwvjbk.woff?t=1721487252133') format('woff'),
    url('//at.alicdn.com/t/c/font_4612358_52b21vwvjbk.ttf?t=1721487252133') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tupianjiazaizhong:before {
    content: "\e635";
}

.icon-upload-img:before {
    content: "\e622";
}

.icon-tupianjiazaishibai:before {
    content: "\e600";
}

.icon-guanbi:before {
    content: "\eaf2";
}

.icon-zhankai:before {
    content: "\e61f";
}

.icon-z043:before {
    content: "\e62f";
}

.icon-github-fill:before {
    content: "\e885";
}

.icon-youketidaodequedianicon:before {
    content: "\e6e4";
}

.icon-youdian:before {
    content: "\e703";
}

.icon-tools:before {
    content: "\e762";
}

.icon-sousuo:before {
    content: "\e6a7";
}
