@font-face {
    font-family: "iconfont"; /* Project id 4612358 */
    src: url('https://at.alicdn.com/t/c/font_4612358_x7k3rsdg3vj.woff2?t=1720539438898') format('woff2'),
    url('https://at.alicdn.com/t/c/font_4612358_x7k3rsdg3vj.woff?t=1720539438898') format('woff'),
    url('https://at.alicdn.com/t/c/font_4612358_x7k3rsdg3vj.ttf?t=1720539438898') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
    content: "\eaf2";
}

.icon-zhankai:before {
    content: "\e61f";
}

.icon-z043:before {
    content: "\e62f";
}

.icon-github-fill:before {
    content: "\e885";
}

.icon-youketidaodequedianicon:before {
    content: "\e6e4";
}

.icon-youdian:before {
    content: "\e703";
}

.icon-tools:before {
    content: "\e762";
}

.icon-sousuo:before {
    content: "\e6a7";
}
